<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ad2b28e3-b5a0-434c-844c-ebb37a71d417/resourceGroups/Default-ApplicationInsights-EastUS/providers/Microsoft.Web/sites/RestRoomAppXurcielagon</ResourceId>
    <ResourceGroup>Default-ApplicationInsights-EastUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://restroomappxurcielagon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>restroomappxurcielagon.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RestRoomAppXurcielagon</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RestRoomAppXurcielagon</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityASPNETDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:restroomappxurcielagondbserver.database.windows.net,1433;Initial Catalog=RestRoomAppXurcielagon_db;User ID=Xurcielagon@restroomappxurcielagondbserver;Password=Cl0udC0mputing!" Name="Data Source=tcp:restroomappxurcielagondbserver.database.windows.net,1433;Initial Catalog=RestRoomAppXurcielagon_db;User Id=Xurcielagon@restroomappxurcielagondbserver;Password=Cl0udC0mputing!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RestRoomApp.Models.ApplicationDbContext, RestRoomApp" MigrationConfiguration="RestRoomApp.Migrations.Configuration, RestRoomApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IdentityASPNETDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:restroomappxurcielagondbserver.database.windows.net,1433;Initial Catalog=RestRoomAppXurcielagon_db;User Id=Xurcielagon@restroomappxurcielagondbserver;Password=Cl0udC0mputing!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IdentityASPNETDB" />
  </ItemGroup>
</Project>